.sortable, .on, .off {
	cursor: pointer;
}

.sortable:hover {
	color: #999;
}

ul {
	-webkit-padding-start: 0px;
	   -moz-padding-start: 0px;
	     -o-padding-start: 0px;
}

.on, .off {
	list-style: none;
}

.on {
	color: #000;
}
.on:hover {
	color: #444;
}
.off {
	color: #aaa;
}
.off:hover {
	color: #777;
}

.margin-md {
	margin-top: 10px;
	margin-bottom: 10px;
}

.margin-sm {
	margin-top: 5px;
	margin-bottom: 5px;
}

.margin-lg {
	margin-top: 20px;
	margin-bottom: 20px;
}